/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

:root {
    --cor: #0f4c81;
    --cor2: #27b4ca;
    --corCyan: #00ddff;
    --corTrans: #0f4c813d;
    --corTextApresentacao: white;
    --corOver: rgba(0, 0, 0, 0.4);
    --sombra: rgba(80, 77, 77, 0.7);

    --black: #282828;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;

    width: 10px;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.05);
}
#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;

    width: 10px;
    height: 0%;
    border-radius: 0 0 3px 3px;

    background: linear-gradient(to top, var(--cor),var(--cor2));
}

section#inicio {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
}


/* SLIDER  */

section#inicio #slider {
    width: 100%;
    height: 100%;
    position: relative;
}
section#inicio #slider .slide {
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-attachment: fixed;

    position: absolute;
    left: 0;
    top: 0;

    transition: opacity 2s ease-in-out;
}

section#inicio #slider button {
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 20px;

    color: white;
    background: linear-gradient(90deg,var(--cor),var(--cor2));
    cursor: pointer;

    position: relative;
    left: 2%;
    top: 60%;
    z-index: 5;

    transition: .5s;
    overflow: hidden;
}
section#inicio #slider button:focus{
    outline: none;
}
section#inicio > #slider button > span {
    position: absolute;

    background-color: white;

    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;

    animation: btmAnim 1s linear infinite;
}
@keyframes btmAnim {
    0%{
        width: 0px;
        height: 0px;
        opacity: .5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

section#inicio #slider .overflow {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#fundo1 {
    background-image: url(../assets/ouvido.jpg);
    background-position: center;
    transform: scaleX(-1);
}
#fundo2 {
    background-image: url(../assets/nariz.jpg);
    background-position: center;
}
#fundo3 {
    background-image: url(../assets/garganta.jpg);
    background-position: center;
    transform: scaleX(-1);
}




/* Apresentação  */
.apresentacao {
    width: 100%;
    max-width: 800px;
    height: 100%;

    padding: 0 2%;
    margin: 0 auto;

    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;

    cursor: default;
}
.apresentacao > div {
    width: 100%;
    height: 40%;
}

.apresentacao h1, .apresentacao h2 , .apresentacao p {
    font-family: 'Montserrat', sans-serif;
    color: var(--corTextApresentacao);
}

.apresentacao h1 {
    font-weight: normal;
    font-size: 60px;
}
.apresentacao h2 {
    font-weight: normal;
    font-size: 30px;
}
.apresentacao p {
    font-size: 18px;
    font-weight: bold;
    counter-reset: #bbb;

    margin-top: 30px;
}



/* Menu Desktop  */
section#inicio #desktop {
    position: fixed;
    z-index: 5;
    top: 0;

    width: 100%;
    height: 70px;
    padding: 0 2%;

    transition: .5s;

    background-color: #0f4c81c2;

    display: flex;
    justify-content: center;
}

section#inicio #desktop .logo {
    height: 50px;    
    align-self: center;
}

section#inicio #desktop > ul {
    position: relative;
    display: flex;
}

section#inicio #desktop > ul #marker {
    width: 0;
    height: 4px;
    border-radius: 2px;

    background-color: #fff;
    
    position: absolute;
    left: 0;
    top: 65%;

    transition: .5s;
}

section#inicio #desktop > ul li {
    list-style-type: none;
}
section#inicio #desktop > ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    padding: 0 15px;
    text-align: center;

    transition: .4s;
}
section#inicio #desktop > ul li a:hover{
    background-color: #093963;
}
section#inicio #desktop > ul li a:hover i {
    font-size: 30px;
}
section#inicio #desktop > ul li a i {
    margin-bottom: 5px;
    font-size: 18px;
    display: none;
}
section#inicio #desktop > ul li a p {
    font-size: 15px;
}



/* SESSÃO SOBRE  */


section#sobre {
    width: 100%;
    padding: 75px 2% 20px 2%;

    position: relative;
    overflow: hidden;
}

section#sobre::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 50%;

    transform-origin: bottom;
    transform: translate(-50%, -50px) scale(4);

    /* background-color: #76aedf; */
    background: linear-gradient(90deg,var(--cor),var(--cor2));
}

section#sobre .title-sobre {
    width: 50%;
    min-width: 600px;
    height: 90px;
    padding-left: 15px;

    border-radius: 0 25px 25px 0;

    background-color: var(--cor);
    position: relative;
}
section#sobre .title-sobre a {
    width: 200px;
    height: 70px;
    border-radius: 20px;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: var(--corTextApresentacao);

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%);

    background-color: #61cf70;
    box-shadow: -2px 2px 2px var(--sombra);
}
section#sobre .title-sobre a:hover {
    background-color: #46bb55;
}

section#sobre .title-sobre a i {
    font-size: 26px;
    margin-right: 4px;
}

section#sobre .title-sobre h1{
    color: var(--corTextApresentacao);
    font-family: 'Lato', sans-serif;
    line-height: 90px;
}


section#sobre .sobre-content {
    width: 100%;
    height: 450px;

    position: relative;

    box-shadow: -2px 2px 5px var(--sombra);
}

section#sobre .sobre-content .camada0, section#sobre .sobre-content .camada1{
    width: 100%;
    height: 100%;

    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}

section#sobre .sobre-content .camada0 > div:nth-of-type(1) {
    width: calc(40%);
    height: 100%;
}
section#sobre .sobre-content .camada0 >  div:nth-of-type(2) {
    width: calc(60%);
    height: 100%;

    position: relative;

    overflow: hidden;
}

#sliderSobreWraper {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    transition: 1s;
}

#imgSobre0 {
    width: 100%;
    height: 100%;

    background-image: url(../assets/sobre0.jpg);
    background-size: cover;

    position: absolute;
    left: 0;
    top: 0;
}
#imgSobre1 {
    width: 100%;
    height: 100%;

    background-image: url(../assets/sobre1.jpg);
    background-size: cover;
    
    position: absolute;
    left: 100%;
    top: 0;
}
#imgSobre2 {
    width: 100%;
    height: 100%;

    background-image: url(../assets/sobre2.jpg);
    background-size: cover;

    position: absolute;
    left: 200%;
    top: 0;
}
#imgSobre3 {
    width: 100%;
    height: 100%;

    background-image: url(../assets/sobre3.jpg);
    background-size: cover;

    position: absolute;
    left: 300%;
    top: 0;
}

section#sobre .sobre-content .sobre-descricao {
    width: calc(50% - 50px);
    height: 100%;
    padding: 20px 2%;
    
    background-color: rgb(204, 233, 246);

    color: #404040;
    font-family: 'Montserrat', sans-serif;
}
section#sobre .sobre-content .sobre-descricao h1 {
    margin-top: 60px;
    margin-bottom: 25px;
    font-weight: normal;
}
section#sobre .sobre-content .sobre-descricao p {
    text-align: justify;
}

section#sobre .sobre-content .sobre-imgs {
    width: calc(50% + 50px);
    height: 100%;

    border-left: 100px solid rgb(204, 233, 246);
    border-bottom: 450px solid rgba(0, 0, 0, 0);
}

section#sobre .sobreBullets {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.bullet {
    display: inline-block;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;

    background-color: #aaa;

    cursor: pointer;

    box-shadow: -2px 2px 5px var(--sombra);
}

.bulletSelect {
    background-color: var(--cor);
}


/* SERVIÇOS  */


#especialidades {
    width: 100%;
    height: 100%;
    padding: 80px 2%;
}

.cards {
    width: 100%;
    padding: 80px 2%;

    display: flex;
    justify-content: space-around;

    position: relative;
}

#especialidades .cards h1 {
    width: 350px;
    height: 50px;
    border-radius: 25px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 50px;

    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    background-color: var(--cor);
    color: var(--corTextApresentacao);
    /* -webkit-box-reflect: below 1px linear-gradient(to bottom,transparent, transparent,#0005); */
}

.ponta {
    width: 60px;
    height: 60px;

    position: absolute;
    left: 50%;
    top: -5px;
    z-index: -1;
    transform: translateX(-50%) rotate(45deg);

    background-color: var(--cor);
}

.card {
    width: 200px;
    height: 200px;
    padding: 15px;
    border-radius: 15px;

    overflow: hidden;
    background-color: white;

    position: relative;

    transition: .5s;
    -webkit-box-reflect: below 1px linear-gradient(to bottom,transparent, transparent,#0005);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    cursor: pointer;
}

.card:hover {
    height: 300px;
    background-color: var(--cor);
}

.card::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;

    background-color: #0f81785e;
}

.card > span{
    display: block;
    position: absolute;
}

.card p {
    color: var(--corTextApresentacao);
    opacity: 0;
    transition: .6s;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
.card:hover p{
    opacity: 1;
    margin-bottom: 20px;
}

.card > span:nth-of-type(1) {
    width: 100%;
    height: 6px;

    border-radius: 0 3px 3px 0;

    left: -100%;
    top: 0;

    background: linear-gradient(90deg, transparent,transparent, var(--corTrans));
    animation: animate1 2s linear infinite;
    animation-delay: 0s;
}
@keyframes animate1 {
    from{
        left: -100%;
    }
    to{
        left: 100%;
    }
}
.card > span:nth-of-type(2) {
    width: 100%;
    height: 6px;

    border-radius: 0 3px 3px 0;

    left: 100%;
    bottom: 0;

    transform: rotate(-180deg);

    background: linear-gradient(90deg, transparent,transparent, var(--corTrans));
    animation: animate2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes animate2 {
    from{
        left: 100%;
    }
    to{
        left: -100%;
    }
}
.card > span:nth-of-type(3) {
    width: 6px;
    height: 100%;

    border-radius: 0 0 3px 3px;

    right: 0;
    top: -100%;

    background: linear-gradient(to bottom, transparent,transparent, var(--corTrans));
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate3 {
    from{
        top: -100%;
    }
    to{
        top: 100%;
    }
}
.card > span:nth-of-type(4) {
    width: 6px;
    height: 100%;

    border-radius: 3px 3px 0 0;

    left: 0;
    top: 100%;

    background: linear-gradient(to top, transparent,transparent, var(--corTrans));
    animation: animate4 2s linear infinite;
    animation-delay: 3s;
}
@keyframes animate4 {
    from{
        top: 100%;
    }
    to{
        top: -100%;
    }
}

        /* svgs  */
.card .icon-expecialidades {
    width: 50%;
}
.card .icon-expecialidades path {
    fill: transparent;
    stroke-width: 5;
    stroke: var(--black);
}
.card:nth-of-type(5) .icon-expecialidades path {
    fill: transparent;
    stroke-width: 1;
    stroke: var(--black);
}

.card .icon-expecialidades.ouvido path {
    stroke-dasharray: 2150;
    stroke-dashoffset: 0;
}
.card:hover .icon-expecialidades.ouvido path {
    animation: ouvido 1s linear forwards;
}
@keyframes ouvido {
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 2150;
    }
    80%{
        stroke-dashoffset: 4300;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 4300;
        fill: var(--corCyan);
    }
}

.card .icon-expecialidades.nariz path {
    stroke-dasharray: 1450;
    stroke-dashoffset: 0;
}
.card:hover .icon-expecialidades.nariz path {
    animation: nariz 1s linear forwards;
}
@keyframes nariz {
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1450;
    }
    80%{
        stroke-dashoffset: 2900;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 2900;
        fill: var(--corCyan);
    }
}

.card .icon-expecialidades.garganta path {
    stroke-dasharray: 1500;
    stroke-dashoffset: 0;
}
.card:hover .icon-expecialidades.garganta path {
    animation: garganta 1s linear forwards;
}
@keyframes garganta {
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1500;
    }
    80%{
        stroke-dashoffset: 3000;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 3000;
        fill: var(--corCyan);
    }
}

.card .icon-expecialidades.exames path {
    stroke-dasharray: 165;
    stroke-dashoffset: 0;
}
.card:hover .icon-expecialidades.exames path {
    animation: exames 1s linear forwards;
}
@keyframes exames {
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 165;
    }
    80%{
        stroke-dashoffset: 330;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 330;
        fill: var(--corCyan);
    }
}


/* CONVÊNIOS  */

#convenios {
    width: 100%;
    height: 100%;
    background-color: #61cf70;
}