/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

:root {
    --cor: #0f4c81;
    --cor2: #27b4ca;
    --corTrans: #0f4c817a;
    --corTextApresentacao: white;
    --corOver: rgba(0, 0, 0, 0.4);
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;

    width: 10px;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.05);
}
#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;

    width: 10px;
    height: 0%;
    border-radius: 0 0 3px 3px;

    background: linear-gradient(to top, var(--cor),var(--cor2));
}

section#inicio {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
}


/* SLIDER  */

section#inicio #slider {
    width: 100%;
    height: 100%;
    position: relative;
}
section#inicio #slider .slide {
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-attachment: fixed;

    position: absolute;
    left: 0;
    top: 0;

    transition: opacity 2s ease-in-out;
}

section#inicio #slider button {
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 20px;

    color: white;
    background: linear-gradient(90deg,var(--cor),var(--cor2));
    cursor: pointer;

    position: relative;
    left: 2%;
    top: 60%;
    z-index: 5;

    transition: .5s;
    overflow: hidden;
}
section#inicio #slider button:focus{
    outline: none;
}
section#inicio > #slider button > span {
    position: absolute;

    background-color: white;

    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;

    animation: btmAnim 1s linear infinite;
}
@keyframes btmAnim {
    0%{
        width: 0px;
        height: 0px;
        opacity: .5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

section#inicio #slider .overflow {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#fundo1 {
    background-image: url(../assets/ouvido.jpg);
    background-position: center;
    transform: scaleX(-1);
}
#fundo2 {
    background-image: url(../assets/nariz.jpg);
    background-position: 0 70px;
}
#fundo3 {
    background-image: url(../assets/garganta.jpg);
    background-position: center;
    transform: scaleX(-1);
}




/* Apresentação  */
.apresentacao {
    width: 100%;
    max-width: 800px;
    height: 100%;

    padding: 0 2%;
    margin: 0 auto;

    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;

    cursor: default;
}
.apresentacao > div {
    width: 100%;
    height: 40%;
}

.apresentacao h1, .apresentacao h2 , .apresentacao p {
    font-family: 'Montserrat', sans-serif;
    color: var(--corTextApresentacao);
}

.apresentacao h1 {
    font-weight: normal;
    font-size: 60px;
}
.apresentacao h2 {
    font-weight: normal;
    font-size: 30px;
}
.apresentacao p {
    font-size: 18px;
    font-weight: bold;
    counter-reset: #bbb;

    margin-top: 30px;
}



/* Menu Desktop  */
section#inicio #desktop {
    position: fixed;
    z-index: 5;
    top: 0;

    width: 100%;
    height: 70px;
    padding: 0 2%;

    background-color: var(--cor);

    display: flex;
    justify-content: center;
}

section#inicio #desktop .logo {
    height: 50px;    
    align-self: center;
}

section#inicio #desktop > ul {
    position: relative;
    display: flex;
}

section#inicio #desktop > ul #marker {
    width: 0;
    height: 4px;
    border-radius: 2px;

    background-color: #fff;
    
    position: absolute;
    left: 0;
    top: 65%;

    transition: .5s;
}

section#inicio #desktop > ul li {
    list-style-type: none;
}
section#inicio #desktop > ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    padding: 0 15px;
    text-align: center;

    transition: .4s;
}
section#inicio #desktop > ul li a:hover{
    background-color: #093963;
}
section#inicio #desktop > ul li a:hover i {
    font-size: 30px;
}
section#inicio #desktop > ul li a i {
    margin-bottom: 5px;
    font-size: 18px;
    display: none;
}
section#inicio #desktop > ul li a p {
    font-size: 15px;
}


section#sobre {
    width: 100%;

    padding: 75px 2% 0 2%;
}

section#sobre .title-sobre {
    width: 50%;
    min-width: 600px;
    height: 90px;
    padding: 15px;

    border-radius: 0 25px 25px 0;

    background-color: var(--cor);
    position: relative;
}
section#sobre .title-sobre a {
    width: 200px;
    height: 70px;
    border-radius: 20px;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: var(--corTextApresentacao);

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%);

    background-color: #61cf70;
}
section#sobre .title-sobre a:hover {
    background-color: #46bb55;
}

section#sobre .title-sobre a i {
    font-size: 26px;
    margin-right: 4px;
}

section#sobre .title-sobre h1{
    color: var(--corTextApresentacao);
    font-family: 'Lato', sans-serif;
}


section#sobre .sobre-content {
    width: 100%;
    height: 400px;

    display: flex;
}

section#sobre .sobre-content .sobre-descricao {
    width: calc(50% - 50px);
    height: 100%;
    
    background-color: #ccc;
}
section#sobre .sobre-content .sobre-imgs {
    width: calc(50% + 50px);
    height: 100%;
    
    background-color: rgb(237, 100, 230);
    background-image: url(../assets/garganta.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    border-left: 100px solid #ccc;
    border-bottom: 400px solid transparent;
}