/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

:root {
    --cor: #0f4c81;
    --cor2: #27b4ca;
    --corTrans: #0f4c817a;
    --corTextApresentacao: white;
    --corOver: rgba(0, 0, 0, 0.4);
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;

    width: 10px;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.05);
}
#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;

    width: 10px;
    height: 0%;
    border-radius: 0 0 3px 3px;

    background: linear-gradient(to top, var(--cor),var(--cor2));
}

section.banner {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
}


/* SLIDER  */

section.banner #slider {
    width: 100%;
    height: 100%;
    /* height: calc(100% - 95px); */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
section.banner #slider .slide {
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-attachment: fixed;

    position: relative;
}
section.banner #slider .slide h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--corTextApresentacao);
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    
    position: absolute;
    z-index: 3;
    top: 200px;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section.banner #slider .slide button {
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    margin-top: 50px;

    color: white;
    background: linear-gradient(90deg,var(--cor),var(--cor2));
    cursor: pointer;

    position: relative;
    /* top: 20%; */

    transition: .5s;
    opacity: 0;
    overflow: hidden;
}
section.banner #slider .slide button:focus{
    outline: none;
}
section.banner > #slider > .slide > h1 > button > span {
    position: absolute;

    background-color: white;

    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;

    animation: btmAnim 1s linear infinite;
}
@keyframes btmAnim {
    0%{
        width: 0px;
        height: 0px;
        opacity: .5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

section.banner #slider .slide .overflow {
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#fundo1 {
    background-image: url(../assets/ouvido.jpg);
    background-position: -200px;
}
#fundo2 {
    background-image: url(../assets/nariz.jpg);
    background-position: center 70px;
}
#fundo3 {
    background-image: url(../assets/garganta.jpg);
    background-position: 600px;
}




/* Apresentação  */
.apresentacao {
    width: 100%;
    height: 100%;
    /* height: calc(100% - 95px); */
    padding: 0 2%;
    margin: 0 auto;

    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    cursor: default;
}
.apresentacao > div {
    width: 100%;
    height: 40%;
}

.apresentacao h1 , .apresentacao p {
    font-family: 'Montserrat', sans-serif;
    color: var(--corTextApresentacao);
}

.apresentacao h1 {
    font-weight: normal;
    font-size: 60px;
}
.apresentacao p {
    font-size: 20px;
    font-weight: bold;
}



/* Menu Desktop  */
section.banner #desktop {
    position: fixed;
    z-index: 5;
    top: 0;

    width: 100%;
    height: 70px;
    padding: 0 2%;

    background-color: var(--cor);

    display: flex;
    justify-content: center;
}

section.banner #desktop .logo {
    height: 50px;    
    align-self: center;
}

section.banner #desktop > ul {
    position: relative;
    display: flex;
}

section.banner #desktop > ul #marker {
    width: 0;
    height: 4px;
    border-radius: 2px;

    background-color: #fff;
    
    position: absolute;
    left: 0;
    top: 65%;

    transition: .5s;
}

section.banner #desktop > ul li {
    list-style-type: none;
}
section.banner #desktop > ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    padding: 0 15px;
    text-align: center;

    transition: .4s;
}
section.banner #desktop > ul li a:hover{
    background-color: #093963;
}
section.banner #desktop > ul li a:hover i {
    font-size: 30px;
}
section.banner #desktop > ul li a i {
    margin-bottom: 5px;
    font-size: 18px;
    display: none;
}
section.banner #desktop > ul li a p {
    font-size: 15px;
}


section.sobre {
    height: 2000px;
    background-color: #ccc;
}